.portada{
    
    &__top{
        // position: relative;
        // &--img{
        //     width: 100%;
        //     display: block;
        //     padding-top: 0.6rem;
        //     object-fit: cover;
        // }
        background-image: url(../../img/chocoalmendas1.png);
        &__fondo{
            // position: absolute;
            display: flex;
            // right: 5rem;
            // top: 20rem;
            &__reseña{
                background-color: aqua;
                width: 20rem;
                height: 10rem;
                &__beneficios{
                    background-color: aquamarine;
                    height: 10rem;
                }
            }
        }
    }
}
