.footer{
    &__padre{
        background-color: #8abd2b;
        margin-top: 1.5rem;
            &__hijo1{
                display: flex;
                justify-content: center;
                column-gap: 7rem;
                padding: 2rem;
                @media only screen and (max-width:770px){
                    column-gap: 0;      
                }
                img{
                    max-width: 100%;
                }
                &__hijo2{
                    @media only screen and (max-width:770px){
                        display: none;
                    }
                    &__box1{
                        display: flex;
                        padding: 0.2rem;
                    }
                    &__img{
                        width: 30%;
                        @media only screen and (max-width:770px){
                            width: 50%;
                        }
                        &__registro{
                            margin-left: 2.2rem;
                            @media only screen and (max-width:770px){
                                    margin-left: 0;
                            }
                            &--reg{  
                                padding: 0.5rem;
                                margin: 0.5rem;
                                display: block;
                                background-color:#ce5b87;
                                color: white;
                                border: none;
                                border-radius: 2rem;
                                text-align: center;
                                position: fixed;
                                bottom: 5.1rem;
                                width: 10%;
                                @media only screen and (max-width:770px){

                                }
                                &:hover{
                                    background-color:white;
                                    color: black;
                                    transition: all 0.5s;
                                }
                            }
                            &--reg1{  
                                padding: 0.5rem;
                                margin: 0.5rem;
                                display: block;
                                background-color:#ce5b87;
                                color: white;
                                border: none;
                                border-radius: 2rem;
                                text-align: center;
                                position: fixed;
                                bottom: 2.5rem;
                                width: 10%;
                                @media only screen and (max-width:770px){
                                    
                                }
                                &:hover{
                                    background-color:white;
                                    color: black;
                                    transition: all 0.5s;
                                }
                            }
                            &__whts{
                                font-size: 2.3rem;
                                position: fixed;
                                bottom: 3rem;
                                color: white;
                                padding: 0 0.5rem;
                                background-color:#26de81;
                                border-radius: 2rem;
                                cursor: pointer;
                                @media only screen and (max-width:770px){
                                    bottom: 13rem;
                                }
                            }
                        }
                    }
                    &__hijo3{
                        display: flex;
                        justify-content: center;
                        font-size: 2rem;
                        padding-bottom: 1rem;
                        column-gap: 0.5rem;
                        &--text4{
                            text-align: center;
                            padding: 1rem;
                            background-color: #9bd332;
                        }
                    }
                }
            }
        }
}
