.portada{
        &__top{
        background-image: url(../../img/original.png);
        background-size: cover;
        max-width: 100%;
        margin-top: 0.6rem;
        &__fondo{
            display: flex;
            &__reseña{
                // margin: 4rem 44rem 12rem 2rem;
                width: 58%;
                margin-top: 2rem;
                &--text1{
                    color: #8abd2b;
                    font-size: 5rem;
                    font-weight: 500;
                    font-family: "Great Vibes", cursive;
                    font-weight: 600;
                }
                &--text2{
                    color: white;
                    font-size: 2rem;
                    line-height: 3rem;
                    margin-bottom: 11rem;
                    margin-top: 1rem;
                }
            }
        }
    }
}
